html {
   width: 100%;
   height: 100%;
   padding: 0;
   border: 0;
   margin: 0;
   overflow-y: hidden;
}

body {
   padding:0;
   margin:0;
}


h1 {
   font-size: 2rem !important;
   font-weight: bolder;
}

ul {
   display: block;
   z-index: 1;
   margin: 0;
   padding-left: 15px;
}

li {
   font-size: 1rem;
   display: inline-block;
   line-height: 3rem;
   color: #EEE;
   padding: 0 10px;
   margin-bottom: 0;
   margin-top: 1px
}

li:hover, li.selected {
   cursor: pointer;
   background: white;
   color: black;
}

li:hover:not(.selected) {
   background-color: #BBB;
}

img {
   max-width: 90px;
   max-height: 30px;
}

body > section {
   display: grid;
   grid-template-columns: 30px 1fr;
   border-bottom: solid 1px grey;
   background-color: #262626;
   margin-bottom: 20px;
   height: 3rem;
   z-index: 1;
}

iframe {
   top: 50px;
   border: 0;
   margin: 0;
   height: 90%;
   width: 100%;
   padding: 0;
   bottom: 20px;
   margin-top: 0px;   
   position: absolute;
   z-index: 111;
}

iframe.mdd {
   left: -30px;   
   width: calc(100% + 30px);
   right: 0;
}

iframe.ref {
   margin-top: -5px;
}

a:visited, a {
   color: steelblue !important;
}