/* button.Hi {
   background-color: green;
} */

*.Hello {
   font-family: Agave;
}

.primary {
   color: silver;
}

button.Hello {
   background-color: dimgrey;
}

legend.Hello {
   padding: 0 10px;
   font-size: 27px;
}

section.Hello {
   display: grid;
   grid-template-columns: 50% 50%;
}

label.Hello {
   display: block;
}

h3.Hello {
   margin-bottom: 0;
   font-size: 1.1rem;
   color: white;
}

fieldset.Hello {
   margin-top: 20px;
}

input.Hello {
   display: block;
   font-size: 1rem;
   text-align: center;
   outline: none;
}